name: Auto Sync to Property Dealer Hisar

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Configure git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "github-actions"

      - name: Sync to Property Dealer Hisar Repo
        run: |
          git remote remove mirror || true
          git remote add mirror https://x-access-token:${{ secrets.PROPERTY_DEALER_HISAR_TOKEN }}@github.com/propertydealerhisar/Property_Dealer_In_Hisar.git
          git push mirror HEAD:main --force

      - name: Sync to Property Dealer Gurgaon Repo
        run: |
          git remote remove second || true
          git remote add second https://x-access-token:${{ secrets.PROPERTY_DEALER_GURGAON_TOKEN }}@github.com/dealacresGurgaon/Property_Dealer_Gurgaon.git
          git push second HEAD:main --force    
