name: Auto Sync to Other Repo

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Sync to Other Repo
        run: |
          git remote add mirror https://x-access-token:${{ secrets.PROPERTY_DEALER_HISAR_TOKEN }}https://github.com/propertydealerhisar/Property_Dealer_In_Hisar.git
          git push mirror main --force
